<div class="container">
  <h1 class="m-3">Articles </h1>
  <%= link_to new_article_path do %>
    <p class="d-flex align-items-center m-3"><i class="fas fa-plus m-1"></i> Add new article</p>
  <% end %>
  <div class="Articles">
    <% @articles.each do |article| %>
      <div class="article d-flex align-items-center">
        <%= link_to edit_article_path(article) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to article_path(article), method: :delete do %>
          <i class="fas fa-trash-alt m-3"></i>
        <% end %>
        <%= link_to article_path(article) do %>
          <p class="m-0"><%= article.title %>: <span><%= article.content.first(100) %></span>/Read more</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
