<div class="container mt-5">
  <%= link_to articles_path, class: 'btn-light' do %>
    <p><i class="fas fa-undo m-1"></i> BACK</p>
  <% end %>
  <div class="card-product">
    <%= image_tag "https://source.unsplash.com/200x200/?#{@article.title}" %>
    <div class="card-product-infos">
      <h2><%= @article.title %></h2>
      <p><%= @article.content %></p>
    </div>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Remove #{@article.title}?"}, class: 'card-action card-destroy' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to edit_article_path(@article), class: 'card-action card-edit' do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>
</div>
